body{
	margin: 0;
	padding: 0;
	background: url(image/220.jpg);
	font: 16px/24px Arial, Tahoma, sans-serif;
	text-decoration: none;
 	}

ol{
	list-style: none;
}

.D0{
	background-color: #EE82EE;
	display: flex; justify-content: center; 
	margin: 0;
}

.S1{
	background: url(image/1123.jpg);
	padding: 10px;
}

.topmenu{
	float: right;
	height: 10px; line-height: 10px;
}

.topmenu a{
	margin: 0 0 0 10px;
	color: #853252;
}

.topmenu a:hover{
	color: #ffffff;
}

.afisha{
	padding: 10px 20px 0 20px;
	background: url(image/i11.jpg) top repeat-x;

}

.afisha img{
	float: left;
}

.afisha h3{
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #820000;
}

.afisha p{
	text-align: center;}

.afisha a{
	font-size: 18px; 
	color: #fff;
	font-weight: bold;
	background: #008000;
	border: 1px solid #006400;
	padding: 5px 15px;
	border-radius: 3px;
	box-shadow: 2px 2px 7px -1px #000;
}

.afisha a:hover{
	background: #FFD700;
	border: 1px solid #FFDEAD;
	text-shadow: 0px 0px 3px black;
}

.menu{
	background: #483D8B;
}

.menu a{	
	color: #fff;
	border: 0px solid #F0FFFF;
	text-shadow: 0px 0px 3px #6495ED;
}

.menu a:hover{
	color: #000;
}

.menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.menu ul li{
	display: inline-block;
	margin: 5px 50px;
}
.clear{
	clear: both;
}
.D{ 
	display: flex; justify-content: center; 
}

.D1{
	background-color: #00FFFF;
	width: 20%;

}

.D2{
	width: 60%;
}

.D3{
	background-color: #5F9EA0;
	width: 20%;
}

.D4{
	background: url(image/MA.jpg);
}
/*
p{
	color: green;
}*/

.P2{
	font-style: italic;
}

.q{
	background-color: #556B2F;
}

.MAIL{
	color: #;
}

